{{define "menu"}}
<nav class="bg-gray-700 text-white py-8">
  <div class="container mx-auto flex justify-center">
    <ul class="flex space-x-2">
      <li>
        <a
          href="/"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded"
          >Strona główna</a
        >
      </li>
      <li>
        <a
          href="/booklist"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded"
          >Lista książek</a
        >
      </li>
      <li>
        <a
          href="#"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded"
          >O nas</a
        >
      </li>
      {{if .isLoggedIn}} {{if ge .userRole 2}}
      <li>
        <a
          href="/get-all-users"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded"
          >Zarządzaj użytkownikami</a
        >
      </li>
      <li>
        <a
          href="/addBook"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded"
          >Dodaj książkę</a
        >
      </li>
      <li>
        <a
          href="/approvalQueue"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded"
          >Kolejka zatwierdzeń</a
        >
      </li>
      <li>
        <a
          href="/booksToReturn"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded"
          >Książki do zwrotu</a
        >
      </li>
      <li>
        <a
          href="/proposedBooksList"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded"
          >Polecone użytkowników</a
        >
      </li>
      {{end}}
      {{if lt .userRole 2}}
      <li>
        <a
          href="/proposeBook"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded"
          >Zaproponuj książkę</a
        >
      </li>
      {{end}}
      <li>
        <a
          href="/history"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded"
          >Historia</a
        >
      </li>
      {{template "notifications" .}}
      <li class="relative account-menu">
        <a
          href="#"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded"
        >
          Konto
        </a>
        <ul
          class="hidden absolute account-dropdown bg-gray-800 text-white mt-2 rounded shadow-lg py-2"
        >
          <li>
            <a
              href="/deleteAccount"
              class="block px-4 py-2 text-red-500 hover:bg-red-600 hover:text-white"
            >
              Usuń konto
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a
          href="/logout"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded"
          >Wyloguj się</a
        >
      </li>
      {{else}}
      <li>
        <a
          href="/login"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded"
          >Zaloguj się</a
        >
      </li>
      {{end}}
    </ul>
  </div>
</nav>
{{template "scripts"}} {{end}}
