{{define "menu"}}
<nav class="menu">
  <ul>
    <li><a href="/">Strona główna</a></li>
    <li><a href="/booklist">Lista książek</a></li>
    <li><a href="#">O nas</a></li>
    {{if .isLoggedIn}}
      {{ if ge .userRole 2 }}
          <li><a href="/addBook">Dodaj książkę</a></li>
          <li><a href="/approvalQueue">Kziazki Kolejka</a></li>
      {{ else }}
          <li><a href="/history">Historia</a></li>
      {{ end }}
      <li><a href="/logout">Wyloguj się</a></li>
    {{else}}
      <li><a href="/login">Zaloguj się</a></li>
    {{end}}
    
  </ul>
</nav>
{{end}}
