{{define "menu"}}
<nav class="bg-gray-700 text-white py-4">
  <div class="container mx-auto flex justify-center">
    <ul class="flex space-x-1">
      <!-- Opcja: Strona główna -->
      <li>
        <a
          href="/"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded whitespace-nowrap"
          >Strona główna</a
        >
      </li>

      <!-- Opcja: Lista książek -->
      <li>
        <a
          href="/booklist"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded whitespace-nowrap"
          >Lista książek</a
        >
      </li>

      <!-- Opcja: O nas -->
      <li>
        <a
          href="/aboutUs"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded whitespace-nowrap"
          >O nas</a
        >
      </li>

      <!-- Menu dla zalogowanych użytkowników -->
      {{if .isLoggedIn}} {{if ge .userRole 2}}
      <!-- Panel Bibliotekarza -->
      <li class="relative librarian-menu">
        <a
          href="#"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded whitespace-nowrap"
          onclick="toggleLibrarianMenu()"
        >
          Panel Bibliotekarza
        </a>
        <ul
          id="librarian-dropdown"
          class="hidden absolute bg-gray-800 text-white mt-2 rounded shadow-lg py-2"
        >
          <li>
            <a
              href="/addBook"
              class="block px-4 py-2 hover:bg-gray-600 transition-colors duration-200"
              >Dodaj książkę</a
            >
          </li>
          <li>
            <a
              href="/get-all-users"
              class="block px-4 py-2 hover:bg-gray-600 transition-colors duration-200"
              >Zarządzaj użytkownikami</a
            >
          </li>
          <li>
            <a
              href="/approvalQueue"
              class="block px-4 py-2 hover:bg-gray-600 transition-colors duration-200"
              >Kolejka zatwierdzeń</a
            >
          </li>
          <li>
            <a
              href="/booksToReturn"
              class="block px-4 py-2 hover:bg-gray-600 transition-colors duration-200"
              >Książki do zwrotu</a
            >
          </li>
          <li>
            <a
              href="/proposedBooksList"
              class="block px-4 py-2 hover:bg-gray-600 transition-colors duration-200"
              >Polecone użytkowników</a
            >
          </li>
        </ul>
      </li>
      {{else}}
      <!-- Opcja dla użytkownika: Zaproponuj książkę -->
      <li>
        <a
          href="/proposeBook"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded whitespace-nowrap"
          >Zaproponuj książkę</a
        >
      </li>
      {{end}}

      <!-- Opcja: Historia -->
      <li>
        <a
          href="/history"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded whitespace-nowrap"
          >Historia</a
        >
      </li>

      <!-- Powiadomienia -->
      {{template "notifications" .}}

      <!-- Konto -->
      <li class="relative account-menu">
        <a
          href="#"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded whitespace-nowrap"
        >
          Konto
        </a>
        <ul
          class="hidden absolute account-dropdown bg-gray-800 text-white mt-2 rounded shadow-lg py-2"
        >
          <li>
            <a
              href="/deleteAccount"
              class="block px-4 py-2 text-red-500 hover:bg-red-600 hover:text-white"
            >
              Usuń konto
            </a>
          </li>
        </ul>
      </li>

      <!-- Wyloguj się -->
      <li>
        <a
          href="/logout"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded whitespace-nowrap"
          >Wyloguj się</a
        >
      </li>
      {{else}}
      <!-- Opcja dla niezalogowanych: Zaloguj się -->
      <li>
        <a
          href="/login"
          class="hover:bg-gray-600 hover:text-gray-200 transition-colors duration-200 px-4 py-2 rounded whitespace-nowrap"
          >Zaloguj się</a
        >
      </li>
      {{end}}
    </ul>
  </div>
</nav>

<script>
  // Skrypt do zarządzania rozwijanym menu "Panel Bibliotekarza"
  function toggleLibrarianMenu() {
    const dropdown = document.getElementById("librarian-dropdown");
    dropdown.classList.toggle("hidden");
  }
</script>

{{template "scripts"}} {{end}}
