{{define "notifications"}}
<li class="relative group">
  <!-- Napis Powiadomienia -->
  <a
    href="#"
    id="notification-menu"
    class="text-white px-4 py-2 hover:bg-gray-700 transition cursor-pointer"
    style="background-color: #444"
  >
    Powiadomienia
  </a>

  <!-- Panel z listą powiadomień -->
  <div
    id="notification-list"
    class="absolute left-1/2 transform -translate-x-1/2 mt-2 w-64 text-white border rounded-b-lg shadow-lg hidden group-hover:block"
    style="background-color: #333; border-color: #444"
  >
    <ul id="notification-items" class="p-2 space-y-2">
      {{if .Notifications}} {{range .Notifications}}
      <li
        class="py-2 px-2 border-b border-gray-600 hover:bg-gray-600 rounded-lg transition"
        style="border-color: #444"
      >
        <span class="font-semibold">{{.Message}}</span>
        <br />
        <span class="text-sm text-gray-400"> Książka: {{.BookTitle}} </span>
      </li>
      {{end}} {{else}}
      <li
        class="py-2 px-2 text-center text-gray-400"
        style="background-color: #333"
      >
        Brak nowych powiadomień.
      </li>
      {{end}}
    </ul>
  </div>
</li>
{{template "scripts"}} {{end}}
