{{define "homePage"}}
<div class="bg-gray-200 py-5">
  <!-- Opis biblioteki -->
  <section
    class="homepage-description max-w-6xl mx-auto bg-white p-7 rounded-lg shadow-lg text-center"
  >
    <h2 class="text-4xl font-bold text-gray-800 mb-6">
      Witamy w naszej Bibliotece
    </h2>
    <p class="text-gray-700 text-lg leading-relaxed">
      Nasza biblioteka to idealne miejsce dla każdego miłośnika literatury i
      nauki. Oferujemy szeroki wybór książek, czasopism, oraz dostęp do zasobów
      cyfrowych, które zaspokoją potrzeby zarówno studentów, naukowców, jak i
      pasjonatów. Nasza przestrzeń została zaprojektowana, aby zapewnić
      komfortowe warunki do nauki, pracy i relaksu. Organizujemy także liczne
      wydarzenia kulturalne, spotkania autorskie i warsztaty. Nasi pracownicy
      zawsze służą pomocą, abyś mógł znaleźć to, czego szukasz.
    </p>
  </section>
</div>

<div class="bg-gray-200 py-5">
  <!-- Aktualności -->
  <section
    class="homepage-news max-w-6xl mx-auto bg-white p-10 rounded-lg shadow-lg"
  >
    <h2 class="text-3xl font-semibold text-gray-800 mb-6 text-center">
      Aktualności
    </h2>
    <div class="space-y-6">
      <div
        class="news-item p-6 border border-gray-300 rounded-lg shadow-sm hover:shadow-lg hover:bg-gray-100 transition duration-300"
      >
        <h3 class="text-lg font-semibold text-gray-800">
          Nowe godziny otwarcia
        </h3>
        <p class="mt-2 text-gray-600">
          Informujemy, że od 1 grudnia biblioteka będzie otwarta w godzinach
          9:00 - 18:00. Zachęcamy do odwiedzin w nowych godzinach, aby korzystać
          z naszej oferty i udogodnień.
        </p>
      </div>
      <div
        class="news-item p-6 border border-gray-300 rounded-lg shadow-sm hover:shadow-lg hover:bg-gray-100 transition duration-300"
      >
        <h3 class="text-lg font-semibold text-gray-800">
          Spotkanie autorskie z Anną Lewandowską
        </h3>
        <p class="mt-2 text-gray-600">
          Zapraszamy na spotkanie z autorką bestsellerów w świecie kulinarnym i
          sportowym, Anną Lewandowską, które odbędzie się 15 grudnia o godzinie
          17:00. To wyjątkowa okazja, aby poznać autorkę i dowiedzieć się więcej
          o jego twórczości.
        </p>
      </div>
    </div>
  </section>
</div>
{{end}}
