<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head_tmpl"}}
  </head>
  <body>
    {{template "header"}} 
      {{template "menu" .}}
    </div>
    <!-- Tailwind-styled alert container -->
    <div class="bg-gray-200 pt-6">
      {{if .loginMessage}}
      <div
        id="login-message"
        class="bg-green-600 text-white px-6 py-4 rounded-md mx-auto w-10/12 md:w-1/2 shadow-md transition-all duration-300"
        role="alert"
      >
        <div class="flex items-center justify-center">
          <div>
            <strong class="font-bold">Sukces! </strong>
            <span class="block sm:inline">{{.loginMessage}}</span>
          </div>
          <button
            id="close-message"
            class="text-white hover:text-gray-200 focus:outline-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
      {{end}}
    </div>

    {{template "homePage"}} 
    {{template "footer"}} 
    {{template "scripts"}}
  </body>
</html>
